# Source (TS) - not needed at runtime
src/**

# Tests / lint / configs not needed in VSIX
**/*.map
**/*.ts
.eslintrc*
eslint.config.*
tsconfig*.json
.vscode/**
.github/**
*.log

# Big / unnecessary folders
node_modules/**
**/node_modules/**
**/.DS_Store

# Dev folders
dist/**
build/**
out/**/*.map

# Docs (optional)
README.md
CHANGELOG.md
